.top-banner-container {
  background: url(/documents/67510365/74348488/Devcon-Mobile-Banner-1.jpg/60281214-b5a0-48bc-90fb-5a68fa21a0a5?t=1463656085000) repeat no-repeat center bottom;
  text-align: center;
  padding-bottom: 150px;
}

.top-banner-container img {
  margin: 70px 0;
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
  max-height: 200px;
}

@media(min-width:1200px) {
	.top-banner-container {
		background: url(/documents/67510365/74348488/Devcon+Banner_cropped.jpg/a6b6ded5-1723-44c4-94c5-d13a829aab7f?t=1463656093000) no-repeat right top;
		padding-bottom: 0;
	}
}






