html, body {
	overflow: hidden;
}

#app {

    .steps-container {
        position: relative;
        width: 100%;
        height: 100%;
        perspective: 1200px;
        transform-style: preserve-3d;

        .page {
        	width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			visibility: hidden;
			overflow: hidden;
			backface-visibility: hidden;
			transform: translate3d(0, 0, 0);
        }

        .page-current {
			visibility: visible;
		}

		.pt-page-ontop {
			z-index: 999;
		}

		.progress-bar-container {
			margin: 40px 0;
			border: 1px solid #eee;
			height: 40px;
			position: relative;
			width: 90%;

			.progress-bar {
				background: blue;
				height: 100%;
				position: absolute;

				.percentage {
					position: absolute;
					right: 5%;
					top: 30%;
				}
			}

			.progress-bar-description {
				position: absolute;
				display: block;
				left: 5px;
				top: -20px;
			}

		}

		.progress-information-container {
			margin: 20px 0;
			display: flex;
			width: 100%;
			justify-content: space-between;
			
			.info {
				text-align: center;
				width: 45%;

				span {
					display: block;

					&.desc {
						text-transform: uppercase;
						font-weight: bold;
						font-size: 11px;
						letter-spacing: 1px;
					}

					&.value {
						font-size: 3em;
						letter-spacing: -3px;
					}
				}
			}

		}

		

    }

    .steps-navigation {
    	position: absolute;
    	bottom: 0;
    	width: 100%;
    	height: 100px;

    	button {
    		position: absolute;

			&.next {
				bottom: 5%;
				right: 5%;
			}

			&.prev {
				bottom: 5%;
				left: 5%;
			}
		}

    }

    .file-drag {
		font-weight: bold;
		text-align: center;
		padding: 1em 0;
		margin: 1em 0;
		color: #555;
		border: 2px dashed #555;
		border-radius: 7px;
		cursor: default;
	}

	.file-drag.hover {
		color: #f00;
		border-color: #f00;
		border-style: solid;
		box-shadow: inset 0 3px 4px #888;
	}
}

