doctype html
html(lang="en" class="responsive")
  head
    title="Fun with LDSF-DACH"
    script
        include ../../devcon/build/all.min.js
        include ../src/getwin.js  
    style
        include ../../devcon/src/font.css  
        include ../../devcon/build/all.css
        include ../../devcon/src/theme.css    
    <link text="text/css" rel="stylesheet" href="recap.css">
    <meta content="minimum-scale=1.0, width=device-width" name="viewport">
  body.yui3-skin-sam
    #wrapper
        header
          include ../src/svgbanner.pug
          include ../build/recap/banner-out.html
        //include ../src/recap-popup.html
        include ../build/recap/hubspot-newsletter.html
        include ../build/recap/about-video.html
        include ../build/recap/agenda-description.html
        include ../build/recap/agenda.html
        //include ../build/recap/winner.html
        //include ../build/recap/winner-complete.html
        include ../build/recap/partnerawards.html
        include ../build/recap/sponsors.html
        include ../build/recap/footer.html
        include ../build/all.js   
        script 
            include ../../devcon/src/liferay/js/h-main.js
