doctype html
html(lang="en" class="responsive")
  head
    title="Fun with Spain"
    script
        include ../../devcon/build/all.min.js
    style
        include ../../devcon/src/font.css  
        include ../../devcon/build/all.css
        include ../../devcon/src/theme.css    
        include ../build/css.html
        include ../src/extra_css.css
    <meta content="minimum-scale=1.0, width=device-width" name="viewport">
  body.yui3-skin-sam
    #wrapper
        header
          include ../build/banner.html
          include ../src/nav.html
        include ../build/video.html
        include ../build/about.html
        include ../build/1.html
        include ../build/3.html
        include ../build/4.html
        include ../build/5.html
        include ../build/6.html
        include ../build/7.html
