#set ($ddl_records_local_service = $serviceLocator.findService("com.liferay.portlet.dynamicdatalists.service.DDLRecordLocalService"))
#set ($link_records = $ddl_records_local_service.getRecords( $getterUtil.getLong($record_set_id.data)))
#set ($link_tree = $portal.getClass().forName("java.util.TreeMap").newInstance())

## fetch link records and sort in tree map... would be better to do in ddl query but does not seem to work with velocity
#foreach ($link_record in $link_records)
	#set ($link_name = $link_record.getFieldValue("link_name"))
	#set ($link_href = $link_record.getFieldValue("link_href"))
	#set ($link_id = $link_record.getFieldValue("link_id"))
	#set ($link_order = $link_record.getFieldValue("link_order"))
	##<div> $link_name: $link_href: $link_id: $link_order</div>
	#if (!$link_tree.get($link_order))
	  #set ($void = $link_tree.put($link_order, $portal.getClass().forName("java.util.TreeMap").newInstance()))
	#end
	#set ($void = $link_tree.get($link_order).put("link_name", $link_name))
	#set ($void = $link_tree.get($link_order).put("link_href", $link_href))
	#set ($void = $link_tree.get($link_order).put("link_id", $link_id))
#end

#set ($button_color = "#0067aa")
#set ($text_color = "#ffffff")
#set ($mobile_breakpoint = "770")

<style type="text/css">

	.content .event-title {
	    text-transform: uppercase
	}
	
	.content .event-title.top {
	    font-size: 42px
	}
	
	.content .event-title.bottom {
	    font-size: 36px;
	    margin-top: -10px
	}

	.special-font {
		font-weight: normal;
	}

	/* override padding in mobile */
	.responsive .content-column .content-column-content,
	.responsive .content-column .portlet-column-content,
	.responsive .portlet-column .content-column-content,
	.responsive .portlet-column .portlet-column-content {
		padding: 0 !important;
	}

	.content-column {
		float: left
	}

	.fade {
		opacity: 0;
		transition: opacity 1s ease-in-out;
	}

	.fade.in {
		opacity: 1;
	}

	.scroll-navigation {
		display: block;
		float: left;
		left: 0;
		margin-left: 40px;
		position: absolute;
		z-index: 50;
	}

	#navigationbar.scroll-navigation a {
		color: $text_color;
    	font-weight: lighter;
    	padding: 20px 10px;
		height: 20px;
		display: block;
		text-decoration: none;
		font-size: 1.15em;
	}

	#navigationbar.scroll-navigation 	ul {
		margin: 0;
		text-align: right;
	}

	#navigationbar.scroll-navigation li {
		display: inline-block;
		list-style: none;
		margin: 7px 5px;
	}

	.events-nav, .floating-nav.register-button, .floating-nav.register-button.btn {
		margin-top: 40px;
		position: fixed;
		top: 0;
	}

	.nav-icon path, .nav-icon polygon {
		fill: $text_color;
		stroke: $text_color;
		stroke-width: 3;
	}

	.events-nav a:hover path, .events-nav a:hover polygon {
		fill: #FFF;
		stroke: #FFF;
	}

	.events-nav {
		background-color: #D5D5D0;
		float: left;
		left: 0;
		margin-left: 0;
		overflow: hidden;
		z-index: 9999;
	}

	.events-nav.register {
		overflow: visible;
	}

	.floating-nav.register-button {
		background-clip: border-box;
		right: 0;
		width: auto;
		z-index: 9999;
	}
	.floating-nav.register-button.class-toggle-active {	
		z-index: 0;
	}


	.floating-nav.register-button .btn {
		display: block;
	}

	.events-nav .image-link {
		display: inline-block;
	}

	.events-nav .image-link {
		margin: 5px 20px 5px 25px;
		padding: 0;
		width: 90px
	}

	#fixednavigation.events-nav ul {
		margin: 0 10px 0 10px;
	}

	#fixednavigation.events-nav li {
		display: inline-block;
		list-style: none;
		margin: 0;
		vertical-align: middle;
	}

	#fixednavigation.events-nav li a {
		display: block;
		height: 30px;
		margin: 0;
		padding: 15px;
	}

	##hover as parallelogram

	#fixednavigation.events-nav ul li:hover {
		background-color: $button_color;
		transform: skew(20deg);
	}

	##skew back text so it is not distorted
	#fixednavigation.events-nav ul li a:hover {
		color: #FFF;
		cursor: pointer;
		transform: skew(-20deg);
	}

	.events-nav ul li a.active {
		font-weight: normal;
	}

	#fixednavigation.events-nav a {
		font-size: 1.2em;
		padding: 5px 15px;
		position: relative;
		z-index: 3;
	}

	#fixednavigation.events-nav #navhome {
		margin: 0 20px 0 25px;
	}



	## nav icon auto width does not work in ie
	.nav-icon {
		height: 28px;
		width: 85px;
	}

	.right-fixed {
		float: right;
		padding: 20px 15px;
	}

	#startHomeFixedNav {
		height: 0;
		margin: 0;
	}

	/* mobile navigation css */

	@media (max-width: ${mobile_breakpoint}px) {
		nav.desktop-only {
			display: none;
		}

		#navigationbar {
			background-color: #F3F3F3;
			margin: 0;
			padding: 20px;
			position: fixed;
			top: 0;
			width: 100%;
			z-index: 5;
		}

		#navtoggle {
		
			background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAASCAYAAAC0EpUuAAAABmJLR0QAAABnAKqC2CwsAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4AIXDRE4Hp2FuQAAAHJJREFUOMvl01ENwjAYReGvTQ3UAkjYJGBhGmoBCzhAQzVMAliYBCqhmPh5WDgCTnKTc5PWK25iGPO57UnrH1Rx3HOwEGrGCJaOghVLoHRPc07RZD8gaf0SPb/g9d9JXcNveqqktuCkHgX9FPMz3sHO4ws0cB61kJQm4wAAAABJRU5ErkJggg==);
	        cursor: pointer;
	        display: inline-block;
	        height: 18px;
	        width: 21px;
	    }

		#fixedRegisterBtn {
			margin: 10px;
			opacity: 1;
			position: fixed;
			right: 0;
			top: 0;
		}

		#navigationbar ul {
	        display: none;
	    }
	
	    #navigationbar.class-toggle-active ul {
	        display: block;
	    	text-align: left;
	    }
	
	    #navigationbar.class-toggle-active li {
	        display: block;
	    	margin: 7px 0;
	    }
	
	    #navigationbar.class-toggle-active a {
	        padding: 5px 0;
	    }
	}

	.btn {
		
		color: #FFF;
		font-size: 16px;
		padding: 15px;
	}


	 

	.content .span-left {
		background: url($logo_image.data);
		background-repeat: no-repeat;
		background-size: 100%;
		display: inline-block;
		vertical-align: top;
		width: 125px;
		height: 200px;
	}
	
	.content .span-right {
		color: $text_color;
		display: inline-block;
		margin-top: 5px;
		max-width: 450px;
		text-align: left;
	}

	.content .event-subtitle {
		font-size: 18px;
	}

	.content .register-button {
		margin-top: 40px;
	}

	#intro {
		background: url($background_image.data);
		background-position: 0 50%;
		background-size: cover;
		background-repeat: no-repeat;
		background-color: #F3F3F3;
		overflow: hidden;
		position: relative;
	}

	#intro .content {
		left: 38%;
		position: absolute;
		top: 25%;
		transition: left 1s ease-in-out, opacity 1s ease-in-out;
		z-index: 3;
	}

	#intro .content.slided {
		left: 15%;
	}

	#intro .content img {
		height: 190px;
	}

	## 800px here to avoid multiple edits in individual border widths 
	## this is one huge border that when blown up shows a 45 degree angle
	#introCover {
		border: 800px solid $banner_color.data;
		border-bottom-width: 0;
		border-left-width: 0;
		border-right-color:  transparent;
		height: 0;
		transition: width 1s ease-in-out;
	}

	#introCover.start {
		width: 100%;
	}

	#introCover.slided {
		width: 25%;
	}

	## phone and tablet
	@media screen and (max-width: ${mobile_breakpoint}px)  {
		#intro {
			background: url($background_image.background_image_mobile.data);
			background-position: 0; 
			background-size: 100%;
			background-repeat: no-repeat;
			background-color: #F3F3F3;
			margin-top: 44px;
			overflow: hidden;
			position: relative;	
		}
		
		#intro .content, #intro .content.slided {
			left: 5%;
			top: 10%;
		}
		
	}
	## phone
	@media screen and (max-width: 500px) {
		
		.fade {
			opacity: 1;
		}
		

		#intro .register-button{
			display: none;
		}
		
	
		#introCover.start, #introCover.slided {
			width: 25%;
		}

		.content .span-left {
			width: 60px;
		}

		.content .span-right {
			max-width: 180px;
		}

		.content .event-logo-text {
			width: 200px;
		}

		.content .span-left, .content .event-logo-text {
			height: 60px;
		}

		#introCover {
			border-width: 0;
			margin-top: 165%;
		}
			
		.content .event-subtitle {
			font-size: 15px;
		}

		a.btn {
			font-size: 16px;
			padding: 10px;
		}
		
		
		.content .event-title.top {
	   	 	font-size: 22px
		}
	
		.content .event-title.bottom {
	 	   font-size: 18px;
	    	margin: 0;
		}
	}

	## tablet	
	@media screen and (max-width: ${mobile_breakpoint}px) and (min-width: 500px) {
		#introCover {
			border-width: 0;
			margin-top: 120%;
		}
		#intro .content, #intro .content.slided {
			left: 10%;
			top: 10%;
		}
	}
</style>
## at least show non-javascripters the banner correctly
<noscript>
<style>
	#fixednavigation.events-nav, #fixedRegisterBtn {
		display: none;
	}
	.fade {
		opacity: 1;
	}
	#introCover.start {
		width: 25%;
	}
	#intro .content, #intro .content.slided {
		left: 15%;
		top: 25%;
	}
</style>
</noscript>
<nav class="scroll-navigation " id="navigationbar">
	<div class="class-toggle" data-target-node="#navigationbar" id="navtoggle"></div>
	<ul>
		#foreach ($link_order in $link_tree.keySet())
			#set ($link_name = $link_tree.get($link_order).get("link_name"))
			#set ($link_href = $link_tree.get($link_order).get("link_href"))
			#set ($link_id = $link_tree.get($link_order).get("link_id"))

			##<div> $link_name: $link_href: $link_id: $link_order</div>

	
		<li class="nav-item">
			<a class="animate-scroll"  href="$link_href" 
			onClick="ga('send', 'event', 'Navigation Clicks', 'Universal Theme - Scroll Navigation', '$link_name');">
			$link_name
			</a>
		</li>
		#end
	</ul>
</nav>

<nav class="aui-helper-hidden events-nav fade desktop-only scroll-navigation" id="fixednavigation">
	<ul>
	#foreach ($link_order in $link_tree.keySet())
	#set ($link_name = $link_tree.get($link_order).get("link_name"))
	#set ($link_href = $link_tree.get($link_order).get("link_href"))
	#set ($link_id = $link_tree.get($link_order).get("link_id"))
	##<div> $link_name: $link_href: $link_id: $link_order</div>

		<li class="nav-item">
			<a class="animate-scroll" id="$link_id" href="$link_href" 
				onClick="ga('send', 'event', 'Navigation Clicks', 'Universal Theme - Scroll Navigation', '$link_name');">
			#if ($link_href == "#wrapper")
			<svg class="nav-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				width="612.5px" height="203.203px" viewBox="0 32.5 612.5 203.203" enable-background="new 0 32.5 612.5 203.203"
				 xml:space="preserve">
			<g>
				<path shape-rendering="geometricPrecision" fill="#FFFFFF" d="M72.505,39.261c-37.219,0-67.496,30.279-67.496,67.502c0,18.578,7.377,35.876,20.789,48.729
					c0.038,0.054,0.085,0.104,0.139,0.153c0.142,0.162,10.513,11.375,16.459,26.826c0.042,0.104,0.09,0.203,0.124,0.305
					c2.344,6.15,3.967,12.967,3.967,20.01c0,0.147,0.017,0.291,0.05,0.442c0.219,4.058,3.809,7.604,9.399,9.962
					c0.854,8.42,7.986,15.014,16.628,15.014c8.662,0,15.796-6.621,16.627-15.07c5.503-2.344,9.034-5.857,9.282-9.881
					c0.034-0.146,0.055-0.307,0.055-0.467c0-22.242,16.246-42.202,19.843-46.346c0.234-0.204,0.461-0.402,0.69-0.615
					c0.189-0.183,0.335-0.392,0.432-0.616c13.228-12.823,20.512-29.993,20.512-48.445c0-18.039-7.016-34.984-19.768-47.737
					C107.481,46.277,90.533,39.258,72.505,39.261z M72.563,224.176c-5.893,0-10.847-4.048-12.266-9.51
					c3.624,0.97,7.765,1.515,12.207,1.515c4.494,0,8.684-0.558,12.332-1.544C83.434,220.111,78.474,224.176,72.563,224.176z
					 M116.198,152.811c-0.109,0.105-0.206,0.212-0.289,0.33c-0.113,0.127-0.273,0.307-0.458,0.52
					c-11.744,10.752-26.918,16.68-42.887,16.68c-1.113,0-2.018,0.906-2.018,2.014c0,1.114,0.905,2.012,2.018,2.012
					c12.291,0,24.145-3.305,34.483-9.461c-5.87,9.16-12.441,22.686-12.546,37.512c-0.028,0.131-0.038,0.27-0.038,0.409
					c0,2.063-2,4.235-5.421,5.97c-0.602,0.295-1.229,0.586-1.91,0.855c-0.612,0.246-1.26,0.482-1.94,0.697
					c-3.489,1.111-7.806,1.807-12.686,1.807c-4.821,0-9.1-0.683-12.572-1.772c-0.685-0.214-1.327-0.448-1.95-0.688
					c-0.677-0.27-1.307-0.557-1.904-0.861c-3.49-1.732-5.527-3.943-5.527-6.047c0-0.133-0.009-0.266-0.038-0.394
					c-0.043-4.82-0.763-9.511-1.926-13.957c5.793,3.418,14.422,5.483,23.917,5.483c1.11,0,2.018-0.896,2.018-2.012
					c0-1.111-0.908-2.012-2.018-2.012c-11.891,0-22.824-3.675-26.262-8.773c-5.73-15.017-15.372-26.029-17.125-27.953
					c-0.088-0.131-0.185-0.252-0.294-0.357c-12.761-12.113-19.79-28.463-19.79-46.048c0-35.002,28.478-63.477,63.47-63.477
					c16.956,0,32.895,6.601,44.882,18.59c11.984,11.986,18.596,27.926,18.596,44.887C135.983,124.348,128.955,140.697,116.198,152.811z
					"/>
				<path shape-rendering="geometricPrecision" fill="#FFFFFF" d="M73.931,79.749c-0.753-0.754-2.09-0.754-2.845,0l-32.82,32.824c-0.576,0.569-0.749,1.44-0.437,2.191
					c0.314,0.755,1.046,1.242,1.866,1.242l30.852-0.011v32.777c0,1.116,0.905,2.014,2.018,2.014c1.106,0,2.01-0.897,2.01-2.014v-34.797
					c0-0.53-0.211-1.04-0.589-1.418c-0.378-0.382-0.888-0.591-1.421-0.591h-0.009l-28.001,0.015l27.951-27.96l31.344,31.341
					c0.781,0.784,2.059,0.784,2.842,0c0.782-0.79,0.782-2.064,0-2.851L73.931,79.749z"/>
				<polygon shape-rendering="geometricPrecision" fill="#FFFFFF" points="220.642,77.399 215.327,77.399 215.327,194.999 277.98,194.998 277.98,191.053 220.642,191.053 	
					"/>
				<path shape-rendering="geometricPrecision" fill="#FFFFFF" d="M389.213,93.125c-4.881-5.043-10.822-8.965-17.655-11.655c-6.867-2.702-14.556-4.072-22.851-4.072
					l-42.495,0v117.6h42.495c8.299,0,15.986-1.371,22.851-4.072c6.834-2.689,12.774-6.611,17.655-11.656
					c4.885-5.05,8.73-11.268,11.428-18.481c2.709-7.245,4.083-15.532,4.083-24.634c0-9.043-1.374-17.302-4.083-24.548
					C397.944,104.395,394.098,98.176,389.213,93.125z M395.543,159.417c-2.41,6.819-5.876,12.669-10.301,17.388
					c-4.434,4.73-9.826,8.388-16.031,10.87c-6.17,2.468-13.068,3.72-20.504,3.72h-37.18V81.002l37.18,0
					c7.436,0,14.334,1.251,20.504,3.719c6.201,2.48,11.596,6.137,16.031,10.869c4.425,4.719,7.891,10.569,10.301,17.387
					c2.395,6.778,3.609,14.576,3.609,23.177C399.153,144.814,397.938,152.641,395.543,159.417z"/>
				<path shape-rendering="geometricPrecision" fill="#FFFFFF" d="M492.5,141.885c-2.714-2.17-5.841-4.001-9.295-5.443c-3.566-1.486-7.281-2.867-11.04-4.103
					c-3.792-1.245-7.563-2.53-11.206-3.821c-3.74-1.324-7.136-2.986-10.094-4.938c-3.041-2.007-5.529-4.482-7.393-7.355
					c-1.919-2.955-2.893-6.702-2.893-11.137c0-3.352,0.635-6.599,1.886-9.65c1.256-3.064,3.12-5.799,5.54-8.128
					c2.416-2.323,5.438-4.177,8.984-5.512c3.521-1.324,7.631-1.995,12.213-1.996c4.573,0,8.502,0.582,11.678,1.73
					c3.104,1.124,5.74,2.377,7.839,3.725c2.063,1.327,3.738,2.566,4.975,3.681c1.195,1.081,1.697,1.133,1.703,1.133
					c0.18,0,0.393,0,0.67-0.523l1.447-2.772c-3.684-3.477-7.763-6.125-12.146-7.879c-4.764-1.904-10.23-2.87-16.252-2.87
					c-5.342,0-10.148,0.837-14.285,2.486c-4.131,1.647-7.64,3.855-10.426,6.562c-2.78,2.7-4.92,5.854-6.361,9.377
					c-1.446,3.537-2.18,7.259-2.18,11.062c0,4.894,0.814,8.991,2.422,12.178c1.619,3.213,3.782,5.93,6.428,8.072
					c2.708,2.193,5.828,4.021,9.275,5.432c3.551,1.454,7.261,2.791,11.029,3.972c3.783,1.187,7.557,2.429,11.217,3.695
					c3.738,1.296,7.134,2.928,10.094,4.851c3.053,1.984,5.548,4.497,7.417,7.468c1.91,3.04,2.879,6.909,2.879,11.501
					c0,4.143-0.732,8.088-2.178,11.729c-1.455,3.668-3.593,6.884-6.357,9.557c-2.754,2.662-6.16,4.789-10.128,6.322
					c-3.95,1.525-8.481,2.3-13.468,2.301c-3.607,0-6.889-0.363-9.753-1.08c-2.841-0.709-5.397-1.598-7.599-2.641
					c-2.2-1.039-4.168-2.191-5.848-3.422c-1.627-1.189-3.049-2.316-4.227-3.347c-1.137-0.993-2.102-1.831-2.896-2.513
					c-0.628-0.538-0.91-0.613-0.913-0.613c-0.071,0.007-0.418,0.008-0.893,0.569l-1.623,2.55c3.968,4.259,8.579,7.691,13.725,10.213
					c5.493,2.691,12.174,4.057,19.854,4.057c5.91,0,11.22-0.923,15.783-2.742c4.548-1.813,8.438-4.318,11.564-7.443
					c3.119-3.119,5.535-6.847,7.179-11.078c1.652-4.254,2.49-8.864,2.49-13.701c0-4.656-0.811-8.573-2.41-11.643
					C497.311,146.652,495.146,144.004,492.5,141.885z"/>
				<polygon shape-rendering="geometricPrecision" fill="#FFFFFF" points="605.492,81.17 605.492,77.396 536.42,77.396 536.42,194.996 541.734,194.996 541.734,139.367 
					596.934,139.366 596.934,135.592 541.734,135.592 541.734,81.17 	"/>
			</g>
			</svg>
			#else
				$link_name
			#end
			</a>
		</li>
	#end
	</ul>
</nav>

#if ($button_text.button_url.data != "")
<nav class="fade floating-nav register-button" id="fixedRegisterBtn">
	<a class="btn class-toggle" href="$button_text.button_url.data" data-target-node="#updatePopUp, #fixedRegisterBtn">$button_text.data</a>
</nav>
#end

<div id="intro">
	<div class="border">
		<div class="start" id="introCover">
			<div class="content fade" id="bannerContent">
				<div class="span-left">
				</div>
				<div class="span-right">
					<div class="event-title special-font top">Liferay &amp; Valamis</div>
					<div class="event-title bottom">
							Digital Solutions Forum</div>
					<div class="event-subtitle top">
						#foreach($event_text_line in $event_text.getSiblings())
							<span style="line-height: 1.4;">$event_text_line.getData()</span> <br/>
						#end
					</div>
					#if ($button_text.button_url.data != "")
					<div class="register-button">
						<a class="btn class-toggle" href="$button_text.button_url.data" data-target-node="#updatePopUp">$button_text.data</a></div>
					</div>
					#end
			</div>
		</div>
	</div>
</div>

<script>
	function debounce(fn, delay) {
		var timer = null;

		return function() {
			var context = this, args = arguments;

			clearTimeout(timer);
			timer = setTimeout(function() {
			  fn.apply(context, args);
			}, delay);
		};
	}

	AUI().use(
		'node', 'transition',
		function(A) {
			var WIN = A.getWin();
			var fixedNav = A.all('#fixednavigation');
			var fixedVisible = false; 
			var displayFixedNav = function() {
				if (window.innerWidth < ${mobile_breakpoint} ) {
					return;
				}
				var registerButton = A.all('#fixedRegisterBtn');
				var currentScrollPos = WIN.get('docScrollY');

                var fadeInPosition = A.one('#aboutStartNav').getY();
                var topNavPosition = A.one('#navigationbar').getY();

				if (currentScrollPos + 5 >= fadeInPosition) {
					fixedNav.show(true);
					registerButton.show(true);
				} else  {
					// if we are at the top already then skip the fading
					var atTop = currentScrollPos <= topNavPosition;
		
					fixedNav.hide(!atTop);
					registerButton.hide(!atTop);
				}
				// navActiveItem(currentScrollPos);
			};

			var navActiveItem = function(scrollPos) {
				var speakersSection = A.one('#referenten');
				var agendaSection = A.one('#agenda');
				var expertsSection = A.one('#experten');
				var logisticsSection = A.one('#logistik');
				var sponsorsSection = A.one('#sponsors');

				var aboutNavItem = A.one('#navAbout');
				var speakersNavItem = A.one('#navSpeakers');
				var agendaNavItem = A.one('#navAgenda');
				var expertsNavItem = A.one('#navExperts');
				var logisticsNavItem = A.one('#navLogistics');
				var sponsorsNavItem = A.one('#navSponsors');

				//with agenda section
				if (scrollPos + 5 < speakersSection.getY() && !aboutNavItem.hasClass('active')) {
					if (speakersNavItem.hasClass('active')) {
						speakersNavItem.removeClass('active');
					}

					aboutNavItem.addClass('active');
				}
				else if (scrollPos + 5 >= speakersSection.getY() && scrollPos + 5 < agendaSection.getY() && !speakersNavItem.hasClass('active')) {

					if (aboutNavItem.hasClass('active')) {
						aboutNavItem.removeClass('active');
					}

					if (agendaNavItem.hasClass('active')) {
						agendaNavItem.removeClass('active');
					}

					speakersNavItem.addClass('active')
				}
				else if (scrollPos + 5 >= agendaSection.getY() && scrollPos + 5 < expertsSection.getY() && !agendaNavItem.hasClass('active')) {
					if (speakersNavItem.hasClass('active')) {
						speakersNavItem.removeClass('active');
					}

					if (expertsNavItem.hasClass('active')) {
						expertsNavItem.removeClass('active');
					}

					agendaNavItem.addClass('active')
				}
				else if (scrollPos + 5 >= expertsSection.getY() && scrollPos + 5 < logisticsSection.getY() && !expertsNavItem.hasClass('active')) {
					if (agendaNavItem.hasClass('active')) {
						agendaNavItem.removeClass('active');
					}

					if (logisticsNavItem.hasClass('active')) {
						logisticsNavItem.removeClass('active');
					}

					expertsNavItem.addClass('active')
				}
				else if (scrollPos + 5 >= logisticsSection.getY() && scrollPos + 5 < sponsorsSection.getY() && !logisticsNavItem.hasClass('active')) {
					if (expertsNavItem.hasClass('active')) {
						expertsNavItem.removeClass('active');
					}

					if (sponsorsNavItem.hasClass('active')) {
						sponsorsNavItem.removeClass('active');
					}

					logisticsNavItem.addClass('active')
				}
				else if (scrollPos + 5 >= sponsorsSection.getY() && scrollPos + 5 && !sponsorsNavItem.hasClass('active')) {
					if (logisticsNavItem.hasClass('active')) {
						logisticsNavItem.removeClass('active');
					}

					sponsorsNavItem.addClass('active')
				}
				else if (scrollPos + 5 >= sponsorsSection.getY()) {
					if (logisticsNavItem.hasClass('active')) {
						logisticsNavItem.removeClass('active');
					}
				}
			}

			A.on('scroll', debounce(displayFixedNav,250));
		}
	);

	var addEventFunc = window.addEventListener ?  window.addEventListener : window.attachEvent;
	addEventFunc("error", function(exception) {
		console.log("error handler: " + exception);
		if (window.ga) {
		 ga('send', 'exception', {
    		'exDescription': exception.message,
    		'exFatal': false
 		 });
		}
	});
	addEventFunc("load", function(event) {
		if (window.ga && window.performance) {
			 setTimeout(function(){
				    var t = performance.timing;
				    var timeSincePageLoad = Math.round(t.loadEventEnd - t.fetchStart);
				    var pageRequest = Math.round(t.responseEnd - t.fetchStart);
				    console.log("html load took: " + pageRequest + " total page load took: " + timeSincePageLoad);
				    ga('send', 'timing', 'HTML Request', 'load', pageRequest);
				    ga('send', 'timing', 'Page Load', 'load', timeSincePageLoad);
				  }, 0);

			}
		
	});
	
	addEventFunc("load", function(event) {	
			## fade in banner content
			var bannerContent = document.getElementById("bannerContent");

			if (bannerContent != null) {
				bannerContent.className += " in";

			}
			var addLoadCSSClasses = function() {
				var introCover = document.getElementById("introCover");

				if (introCover != null) {
					introCover.className += " slided";
				}
				bannerContent.className += " slided";
			}

			if (window.innerWidth < ${mobile_breakpoint} ) {
				addLoadCSSClasses();
				return;
			}

			## slide in banner cover shortly after load
			window.setTimeout(addLoadCSSClasses, 1500 );	
	});

</script>
