<script>
(function() {
    if (navigator.userAgent.indexOf("Trident/7.0") > -1) {
        var htmlClassList = document.getElementsByTagName("html")[0].classList;

        htmlClassList.add("ie");
    	htmlClassList.add("ie11");
    }   
})(this);
</script>

<style type="text/css">

/* disable ddl title and line */
.taglib-header {
    display: none;
}
    .speaker-wrapper {
        padding: 40px 0 100px;
        text-align: center;
    }

    .speaker-item-wrapper {
        display: inline-block;
        height: 270px;
        margin: 0 15px 15px 0;
        overflow: hidden;
        width: 270px;
    }

    .flip-wrapper {
        position: relative;
        -webkit-perspective: 800px;
        -moz-perspective: 800px;
        -ms-perspective: 800px;
        -o-perspective: 800px;
        perspective: 800px;
    }

    .flip-item {
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
    }

    .flip-item.class-toggle-off-click-active {
        transform: rotateY(-180deg);
        -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -o-transform: rotateY(-180deg);
        -ms-transform: rotateY(-180deg);
    }

    .speaker-item {
        text-align: left;
        width: 100%;
        height: 100%;
    }

    .speaker-item.class-toggle-off-click {
        cursor: pointer;
    }

    .speaker-item .front-side {
        background-position: center;
        background-size: cover;
    }

    .flip-item .flip-side, .speaker-item .speaker-info {
        bottom: 0;
        left: 0;
        max-height: 270px;
        max-width: 270px;
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 0;

        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        -ms-backface-visibility: visible;

        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    .flip-item .back-side {
        transform: rotateY(-180deg);
        -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -o-transform: rotateY(-180deg);
        -ms-transform: rotateY(-180deg);
    }

    .flip-item:hover, .speaker-item .speaker-info {
        transition: all 0.8s ease-in-out;
        -moz-transition: all 0.8s ease-in-out;
        -ms-transition: all 0.8s ease-in-out;
        -o-transition: all 0.8s ease-in-out;
        -webkit-transition: all 0.8s ease-in-out;
    }

    .speaker-item .speaker-info, .speaker-item .speaker-bio {
        background-color: #F1A31E;
        color: #FFF;
    }

    .speaker-item .speaker-info {
        padding: 5%;

        transform: translate(100%, 100%);
        -ms-transform: translate(100%, 100%);
        -moz-transform: translate(100%, 100%);
        -o-transform: translate(100%, 100%);
        -webkit-transform: translate(100%, 100%);
    }

    .speaker-item .speaker-info:before, .speaker-item .speaker-info:after {
        border-color: transparent transparent #F1A31E transparent;
        border-style: solid;
		border-width: 0 0 100% 100%;
        content: '';
    }

    .speaker-item:hover .speaker-info {
        transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
    }

    .speaker-info .speaker-name {
        font-size: 1.5em;
        font-weight: 100;
    }

    .speaker-info:before {
        background: #F1A31E;
        display: inline-block;
        height: 200%;
        left: -53%;
		pointer-events: none;
        position: absolute;
        top: 0;
        width: 230%;
        z-index: -1;

        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
    }

    .speaker-info .sponsor-logo {
        height: auto;
        margin: auto;
        padding-top: 10px;
        width: 200px;
    }

    .speaker-bio {
        padding: 20px;
    }

    .speaker-company, .speaker-name, .speaker-title, .sponsor-logo {
        color: #FFF;
        display: block;
        font-size: 1em;
        text-align: center;
    }

/* ---------- Browser Specific ---------- */

    .ie .speaker-item .front-side {
        position: relative;
        height: 270px;
    }

    .ie .flip-item .back-side {
        display: none;
        z-index: -1;
    }

    .ie .class-toggle-off-click-active.flip-item .back-side {
        display: block;
        z-index: auto;
    }
    
    .safari .flip-item.class-toggle-off-click-active {
   		 -webkit-transform: rotateY(0);
	}

	.safari .flip-item:hover, .safari .speaker-item .speaker-info {
  		  -webkit-transition: none;
	}

	.safari .class-toggle-off-click-active.flip-item .back-side {
 	   -webkit-transform: rotateY(0);
	}


</style>

## Get DDL Records
#set ($ddl_records_local_service = $serviceLocator.findService("com.liferay.portlet.dynamicdatalists.service.DDLRecordLocalService"))
#set ($record_set_id = $getterUtil.getLong($reserved_record_set_id.data))
#set ($records = $ddl_records_local_service.getRecords($record_set_id))

#set($speaker_records = $portal.getClass().forName("java.util.TreeMap").newInstance())

#foreach ($record in $records)
    #set ($record = $record.record)
    #set ($speaker_bio = $record.getFieldValue("speaker_bio"))
    #set ($speaker_company = $record.getFieldValue("speaker_company"))
    #set ($speaker_image = $record.getFieldValue("speaker_image"))
    #set ($speaker_keynote = $record.getFieldValue("speaker_keynote"))
    #set ($speaker_name = $record.getFieldValue("speaker_name"))
    #set ($speaker_title = $record.getFieldValue("speaker_title"))
    #set ($speaker_order = $record.getFieldValue("speakerorder"))
    #set ($sponsor_logo = $record.getFieldValue("sponsor_logo"))

    #set ($speaker_image_uuid = "")
    #set ($sponsor_logo_uuid = "")

    #if ($validator.isNotNull($speaker_image))
        #set ($speaker_json_object = $jsonFactoryUtil.createJSONObject($speaker_image))
        #set ($speaker_image_uuid = $speaker_json_object.getString("uuid"))
    #end

    #if ($validator.isNotNull($sponsor_logo))
        #set ($sponsor_json_object = $jsonFactoryUtil.createJSONObject($sponsor_logo))
        #set ($sponsor_logo_uuid = $sponsor_json_object.getString("uuid"))
    #end

    #set($speaker_record = $portal.getClass().forName("java.util.TreeMap").newInstance())

    #set ($void = $speaker_record.put("speaker_bio", $speaker_bio))
    #set ($void = $speaker_record.put("speaker_company", $speaker_company))
    #set ($void = $speaker_record.put("speaker_image", $speaker_image))
    #set ($void = $speaker_record.put("speaker_image_groupid", $record.getGroupId()))
    #set ($void = $speaker_record.put("speaker_image_uuid", $speaker_image_uuid))
    #set ($void = $speaker_record.put("speaker_keynote", $speaker_keynote))
    #set ($void = $speaker_record.put("speaker_name", $speaker_name))
    #set ($void = $speaker_record.put("speaker_title", $speaker_title))

    #set ($void = $speaker_record.put("sponsor_image", $sponsor_image))
    #set ($void = $speaker_record.put("sponsor_logo", $sponsor_logo))
    #set ($void = $speaker_record.put("sponsor_logo_uuid", $sponsor_logo_uuid))

    #if ($record.getStatus() == "0")
        #set ($void = $speaker_records.put($speaker_order, $speaker_record))
    #end
#end

<div class="speaker-wrapper default-max-width">
    #foreach($speaker in $speaker_records)
        #set ($speaker_bio = $speaker.get("speaker_bio"))
        #set ($speaker_company = $speaker.get("speaker_company"))
        #set ($speaker_image = $speaker.get("speaker_image"))
        #set ($speaker_image_groupid = $speaker.get("speaker_image_groupid"))
        #set ($speaker_image_uuid = $speaker.get("speaker_image_uuid"))
        #set ($speaker_keynote = $speaker.get("speaker_keynote"))
        #set ($speaker_name = $speaker.get("speaker_name"))
        #set ($speaker_title = $speaker.get("speaker_title"))

        #set ($sponsor_logo = $speaker.get("sponsor_logo"))
        #set ($sponsor_logo_uuid = $speaker.get("sponsor_logo_uuid"))

        #set ($speaker_item_css_class = "flip-item speaker-item speaker-$velocityCount")

        #if ($speaker_bio != "")
            #set ($speaker_item_css_class = "$speaker_item_css_class trigger class-toggle-off-click")
        #end

        <div class="speaker-item-wrapper flip-wrapper">
            #if ($speaker_image != "")
                #set ($image_src = "/documents/$speaker_image_groupid/$speaker_image_uuid")
            #else
                #set ($image_src = "/documents/24222655/33896529/2014-LPSF-Benelux-Default.png/94ff4361-cf48-4c1d-b528-bd4807b8d9c2")
            #end
            <div class="$speaker_item_css_class" onclick="ga('send', 'event', 'LPSF - UK', 'Speaker Profile Clicks', '$htmlUtil.escape($speaker_name)');" style="background-image: url($image_src);">

                <div class="flip-side front-side" alt="$htmlUtil.escape($speaker_name)" style="background-image: url($image_src);">
                    <div class="speaker-info">
                        #if ($sponsor_logo !="")
                            #set ($logo_src ="/documents/$speaker_image_groupid/$sponsor_logo_uuid")

                            <img alt="$htmlUtil.escape($speaker_company) logo" class="sponsor-logo" src="$logo_src" />
                        #end

                        <h3 class="speaker-name">
                            $speaker_name
                        </h3>

                        <span class="speaker-title">$speaker_title</span>
                        <span class="speaker-company">$speaker_company</span>
                    </div>
                </div>

                <div class="flip-side back-side speaker-bio">
                    $speaker_bio
                </div>
            </div>
        </div>
    #end
</div>