#cfptabs
    ul
        li
            a(href="cfp-information") Information
        li
            a(href="cfp-categories") Categories
        li
            a(href="cfp-submit") Submit
        div.close-popup-content
    div
        #cfp-information
            include ../src/cfp-info.html
        #cfp-categories
            include ../src/cfp-categories.html
        #cfp-submit
            include ../src/cfp-submit.html              