doctype html
html(lang="en")
  head
    style
        include ../build/css/devcon.css
        include ../build/spritesheet.css
    title="Fun with Devcon"
    script
        include ../src/spritesheet.js
  body
    include ../src/banner.pug
    a(href="home.html") Home
    #spritesheet