doctype html
html(lang="en")
  head
    style
        include ../build/devcon.css
        include ../build/spritesheet.css
    title="Fun with Devcon"
  body
    include ../src/banner.pug
    a(href="home.html") Home
    #spritesheet
      div 
       div Unconference_Icon
       svg
          use(xlink:href="#Unconference_Icon-13")
      div 
       div Devcon icon-18n
       svg
          use(xlink:href="#Devcon_icon-18")
      div 
        div Calendar Icon
        svg
          use(xlink:href="#Calendar_Icon-08")
      div 
        div Devcon_Title_Image
        svg
          use(xlink:href="#Devcon_Title_Image")
      div 
        div Evening_party_icon-11
        svg
          use(xlink:href="#Evening_party_icon-11")
      div 
        div Map_Icon-15
        svg
          use(xlink:href="#Map_Icon-15")
      div 
        div Person_Icon-06
        svg
          use(xlink:href="#Person_Icon-06")
      div 
        div Sessions_Icon-09
        svg
          use(xlink:href="#Sessions_Icon-09")
      div 
        div Speakers_Icon
        svg
          use(xlink:href="#Speakers_Icon")
      div 
        div Unconference_Icon-13
        svg
          use(xlink:href="#Unconference_Icon-13")
      div 
        div Venue_Icon-14
        svg
          use(xlink:href="#Venue_Icon-14")
      div 
        div workshop_icons-10
        svg
          use(xlink:href="#workshop_icons-10")
      div 
        div  Devcon-Mobile-Banner-2
        svg
          use(xlink:href="#Devcon-Mobile-Banner-2")          
      div 
        div Devcon_Microsite_Banner_2
        svg
          use(xlink:href="#Devcon_Microsite_Banner_2")          