doctype html
html(lang="en")
  head
    style
        include ../build/devcon.css
    title="Fun with Devcon"
  body
    include ../src/banner.pug
    <svg><use xlink:href=#Calendar_Icon-08></use></svg>
    <svg><use xlink:href=#Devcon_icon-18></use></svg>
