<style>

#whitepaperContent {
    background: #193A6A;
    padding: 100px 0 200px;
    text-align: center;
}

#whitepaperContent .heading-image {
    margin: 0 auto;
}

#whitepaperContent form .btn {
    display: block;
	margin: 10px auto;
}

#whitepaperContent .aui-w50 {
	background: #193A6A;
	box-sizing: border-box;
	float: left;
	padding: 30px 40px 30px;
	padding-bottom: 50px;
}

#whitepaperContent .aui-w50 h3 {
   color: #FFF;
   font-size: 1.75em;
   min-height: 72px;
}

#whitepaperContent .solutions-sub-heading {
    min-height: 385px;
}

#wrapper input, #wrapper select {
	background: #FFF;
	color: #BCBDC0;
	font-size: 1.1em;
	margin: 10px;
	padding: 7px 14px;
	text-shadow: none;
	width: 240px;

	box-sizing: border-box;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
}

#wrapper input.btn {
	width: auto;
}

#whitepaperContent .whitepaper-select {
	display: block;
	margin: 0 auto;
}

.btn.pop-up, .btn.solution-whitepaper-page-cta {
	display: inline-block;
	margin: 10px auto;
}

#wrapper .hs-input {
	height: 32px !important;
	padding: 0 10px !important;
}

#wrapper .hs-form-field .input input {
	width: 261px;
}

@media all and (max-width: 780px) {
	#whitepaperContent .aui-w50 {
		float: none;
		margin: 10px auto;
		padding: 10px 0px;
		width: 100%;
	}
}
</style>
#set ($portlet_bean_locator = $portal.getClass().forName('com.liferay.portal.kernel.bean.PortletBeanLocatorUtil'))
#set ($hs_contact_local_service = $portlet_bean_locator.locate("hubspot-portlet", "com.liferay.hubspot.service.HSContactLocalService.velocity"))

#set ($hsutk = $request.attributes.OSB_HUBSPOT_UTK)

#if ($hsutk)
	#set ($hsContact = $hs_contact_local_service.fetchHSContactByUserToken($hsutk))
#end

#if ($hsContact)
	#set ($hsContactObject = $hsContact.getHSContactJSONObject().getJSONObject("properties"))
#end

#set ($hs_form_local_service = $portlet_bean_locator.locate("hubspot-portlet", "com.liferay.hubspot.service.HSFormLocalService.velocity"))
#set ($hs_form = $hs_form_local_service.fetchHSFormByGUID($form_id.data))
#set ($hs_form_fields = $hs_form.getHSFormJSONObject().getJSONArray("fields"))

#set($popUrl = $request.attributes.CURRENT_COMPLETE_URL)

#set ($verified = false)

#if (($popUrl.contains("?957832")))
	#set ($verified = true)
#elseif ($hs_form_fields)
	#set ($checks_out = true)
	#if (!$hsContactObject)
		#set ($checks_out = false)
	#end

	#set($start = 0)
	#set($end = $hs_form_fields.length() - 1)
	#set($range = [$start..$end])

	#foreach ($i in $range)
		#set ($field = $hs_form_fields.getJSONObject($i))

		#if ($hsContactObject && $hsContactObject.getJSONObject("$field.getString('name')").getString("value") == "" && !$field.getBoolean('hidden'))
			#set ($checks_out = false)
		#end
	#end

	#if ($checks_out)
		#set ($verified = true)
	#end
#end

<div id="whitepaperContent">
	<div class="max-med">
		#if ($title.image.data != "")
			<img class="heading-image" src="$title.image.data"/>
		#end
		<h2 class="light solutions-heading">$title.data</h2>
	</div>
	<div class="max-960">
		#foreach($info in $info.siblings)
		#set ($section_count = $velocityCount)
		<div class="aui-w50 section-$velocityCount">
			<div class="max-med">
				<div class="light solutions-sub-heading">$info.data</div>
			</div>
			<select name="download" id="section${section_count}wpselect$velocityCount" class="whitepaper-select" onChange="if(AUI().one('.section-$velocityCount #downloadWhitepaperBtn')){AUI().one('.section-$velocityCount #downloadWhitepaperBtn').set('href', this.value)}">
				#foreach($download_url in $info.download_url.siblings)
					<option data-download-url="$download_url.data" #if($verified)value="$download_url.data"#end>$download_url.download_title.data</option>
				#end
			</select>

			#if ($verified)
				<a href="$info.download_url.data" target="_blank" class="btn solution-whitepaper-page-cta ${page.data}-download-cta" id="downloadWhitepaperBtn" #if($asset_id.data != "" && $asset_name.data != "" && $asset_type.data != "")onclick="ga('send', 'event', 'Info Hub Sites', 'MZM', 'Whitepaper Download');postToHubspot('$info.asset_id.data', '$info.asset_name.data', '$info.asset_type.data'); if(AUI().one('html').hasClass('safari')){window.open('$info.download_url.data')};"#end>$button_text.data</a>
			#else
				<a href="javascript:;" class="btn solution-whitepaper-page-cta pop-up ${page.data}-form-cta" data-select-box="section${section_count}wpselect$velocityCount" data-pop-display="#whitepapersPopUp" onclick="gatedPopUpClick(this)">$button_text_gated.data</a>
			#end
		</div>
		#end
	</div>
</div>

<script>

var gatedPopUpClick = function(node) {
	if (window.ga) {
		ga('send', 'event', 'Info Hub Sites', 'MZM', 'Whitepaper Download - Gated');
	}
	var hsform = document.querySelector("#whitepapersPopUp form");
	if (hsform) {
		var mySelectBox = node.getAttribute("data-select-box");
		var selectBox = document.getElementById(mySelectBox);
		if (selectBox) {
			var thisOption = selectBox.options[selectBox.selectedIndex];
			
	 		hsform.setAttribute("data-asset-url", thisOption.getAttribute("data-download-url"));
	 	}
	}
}

</script>