include ../build/svgsprite.svg
<div class="banner">
<svg class="banner__mobilelogo"><use xlink:href="#Modular-Conf-Mobile-Logo-1-0"></use></svg>
<svg class="banner__desktoplogo"><use xlink:href="#Modular-Conf-Microsite-Logo-1-0"></use></svg>
</div>